.after-table {
    text-align: justify;
    float: bottom;
 }

.page {
    align-content: left;
    margin: 5px;
    padding-left: 25px;
}
form > div {
    padding: 5px;
    margin: 5px;
    height: 60px;
}
special {
    text-align: center;
    padding: 5px;
    height: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
table tr:nth-child(odd) {
    background-color: #ccccff;
}
table tr:nth-child(even) {
    background-color: #dad3ff;
}
table {
    //border-left: thin solid #DADADA;
   // border-right: thin solid #DADADA;
}
table th {
    background-color: #9696E1 !important;
}
table button {
    background-color: #e2edff !important;
    width: 100px;
    float: none;
}
.btn-default {
    background-color: #daeaf7;
    opacity: 100;
}
body {
    background-color: #e6e6ff;
}
.header-welcome {
    font-weight: bold;
    align-self: center; }
.password-entry {
    font-style: italic;
}
input {
    background-color: #f3f8fc;
}
.logout-btn {
    position: absolute;
    top:0;
    right:0;
    margin: 15px;
    font-size: 20px;
    width: 90px;
}
.prof-btn {
    top:45px !important;
}
.sq {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.center-block {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.loggin {
    width: 350px;
}
.reg {
    width: 400px;
}
.left-lean {
    text-align: left;
}
.right-lean {
    text-align: right;
    float: right;

}
.home {
    width:80%;
}
.profile {
    width:20%;
}
.profile-form {
    border: 2px;
    margin-right: auto;
}
.add-form {
    border: 2px;
    margin-right: 65%;
}
form label {
    float: left;
}
